/node_modules
/public/img/projects
/public/img
/public/system
/public/assets
/public/bower_compnents
/public/assets/img/projects
/public/slideshow
/public/robots.txt
/storage/*.key
/bootstrap/compiled.php
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/composer.lock
/storage
*.lock
*.scssc
.DS_Store
Thumbs.db
/app/database/local.sqlite
/app/database/*.sqlite
/public/assets/css/customProject.css
public/assets/js/custom.js
/public/bab.jpg
/public/ban.jpg
/public/nycab.jpg
/public/slideshow
/app/config/database.php
Envoy.blade.php
/app/storage
