public/img/projects/
bower_components
public/assets/img
public/bower_compnents
.idea/*
public/bower_components
public/assets/img/projects/
app/database/local.sqlite
app/database/*.sqlite
public/robots.txt
Envoy.php
behat.yml
/bootstrap/compiled.php
/vendor
composer.phar
.env.local.php
.env.php
.DS_Store
Thumbs.db
.env*
public/assets/css/customProject.css
npm-debug.log