/* line 2, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
.row.gallery_row {
  margin-top: 30px;
  margin-bottom: 20px; }
  /* line 6, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
  .row.gallery_row .gallery_item {
    background-color: #eee;
    border: 1px solid #6a6a6a;
    padding-top: 10px;
    min-height: 260px;
    width: 49%;
    display: inline-block;
    float: left; }
    /* line 17, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
    .row.gallery_row .gallery_item a {
      display: block;
      position: relative;
      overflow: hidden; }
    /* line 22, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
    .row.gallery_row .gallery_item img {
      max-height: 180px;
      max-width: 398px;
      width: auto;
      margin: 0 auto;
      display: block;
      float: none; }
    /* line 30, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
    .row.gallery_row .gallery_item .caption {
      padding: 0px 15px;
      display: block;
      clear: both;
      text-align: center;
      overflow: hidden;
      max-height: 200px; }

/* line 42, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
#main_image img {
  width: 100%; }

/* line 50, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
#cboxTitle {
  position: absolute;
  font-weight: bold;
  color: #7C7C7C;
  margin: 0;
  left: 0;
  right: 0;
  text-align: left;
  width: 100%;
  padding: 5px;
  font-size: .9em;
  margin-left: -5px;
  margin-bottom: 23px; }

/* line 70, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
ul.edit_images {
  padding-left: 0; }
  /* line 72, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
  ul.edit_images li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #eee;
    list-style: none; }
    /* line 77, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
    ul.edit_images li:last-child {
      border-bottom: none; }
    /* line 80, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
    ul.edit_images li input.caption_update {
      width: 84%; }
    /* line 83, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
    ul.edit_images li input.order_update {
      max-width: 50px;
      width: auto; }
    /* line 87, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
    ul.edit_images li .spacer {
      margin-bottom: 10px;
      margin-top: 10px; }
    /* line 91, /Users/andrewcavanagh/zigbop/cms/app/sass/custom.scss */
    ul.edit_images li .img-thumbnail {
      max-width: 125px; }
