h3.pp-title {
	font-size: 23px;
	line-height: 25px;
}
.participants {
	font-size: 15px;
	line-height: 17px;
}
/* image css 12/10/2018 */
.project_grid_title {
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.4);	
	font-size: 0.8em !important;
    text-transform: uppercase;
	line-height: 12px;
	padding-top: 12px;
	position: absolute;
	bottom: 110px;
	width: 89%;
	height: 40px;
	text-align: center;
}
.proj_img {
    overflow: hidden;
}
.project_block .proj_img img:hover {
    opacity: 0.8;
}
img.img-responsive {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
img.img-responsive:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);	
}


/* image css 12/10/2018 */
.img_section {
	 position: relative;
}
.img_section .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /* top: 115px; */
  top: 95px;
  right: 120px;
  color:black;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img_section:hover .media-object {
  opacity: 0.8;  
}

.img_section:hover .middle {
  opacity: 1;
}
.col-lg-4.body h3.pp-title {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Open Sans', Arial, sans-serif !important;
    font-weight: 600;
}

/* line 7, stdin */
body {
  background-color: white;
  color:black;
  font: 17px/25px 'Whitney SSm A', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding-top: 0; }
  
/* line 14, stdin */
h1, h2, h3, h4, h5 {
  font: 30px/37px 'adobe-caslon-pro', 'Times New Roman', Times, serif; }

/* line 18, stdin */
.text_right {
  text-align: right; }

/* line 23, stdin */
tags-input .tags .input, tags-input .tags .tag-item {
  color: #717073; }

/* line 29, stdin */
.dark-table td {
  color: #999999; }
  /* line 31, stdin */
  .dark-table td a {
    color: #999999; }

/* line 37, stdin */
.table-striped td a:hover {
  color: #000000; }

/* line 41, stdin */
.well, hr {
  background-color: transparent;
  border: none; }

/* line 46, stdin */
.project-caption {
  padding-left: 15px; }

/* line 50, stdin */
a {
  color: #b3b3b6;
  text-decoration: none; }

/* line 55, stdin */
a:focus {
  color: #fff;
  text-decoration: none; }

/* line 59, stdin */
a:hover {
  color: #fff;
  text-decoration: none; }

/* line 64, stdin */
.home a {
  color: #fff; }

/* line 68, stdin */
#main_image {
  padding-top: 35px; }
  /* line 70, stdin */
  #main_image img {
    width: auto;
    max-width: 850px; }

/* line 76, stdin */
.order_update {
  color: #000; }

/* line 80, stdin */
.projectBody {
  margin-top: 20px; }

/* line 102, stdin */
.navbar .container {
  width: 100%; }

/* line 108, stdin */
.content {
  background-color: transparent;
  /* color: #fff; */
  color: #616161;
  margin-bottom: 50px; }

/* line 114, stdin */
.sidebar-nav {
  position: fixed;
  max-width: 218px;
  max-height: 100%; }

/* line 119, stdin */
.nav-list {
  padding: 20px 55px 20px 0;
  width: 100%; }
  /* line 122, stdin */
  .nav-list a {
    text-align: right;
    padding: 0px 5px !important;
    /* text-shadow: 1px 1px 0px #000; */
	color: #000;
    font: 17px/25px 'Whitney SSm A', Arial, Helvetica, sans-serif; }
  /* line 128, stdin */
  .nav-list li {
    padding: 0;
    margin: 0 0 3px; }
  /* line 132, stdin */
  .nav-list > li > a:hover, .nav-list .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.690196); }

/* line 138, stdin */
.login legend {
  color: #fff; }

/* line 142, stdin */
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  color: #fff !important; }

/* line 149, stdin */
.home footer {
  position: fixed; }

/* line 153, stdin */
.blog_index {
  padding-top: 35px; }
  /* line 155, stdin */
  .blog_index .row {
    padding: 20px 0;
    border-bottom: 1px dotted #717073; }
    /* line 158, stdin */
    .blog_index .row .post_intro {
      padding: 0px; }
    /* line 161, stdin */
    .blog_index .row .post_img {
      padding: 0px; }
  /* line 166, stdin */
  .blog_index .pages_slideshow {
    padding-top: 35px; }
  /* line 170, stdin */
  .blog_index h2 {
    font: 27px/33px 'adobe-caslon-pro', 'Times New Roman', Times, serif; }

/* line 175, stdin */
.border {
  border-top: 1px dotted #717073;
  margin-right: 55px; }

/* line 186, stdin */
.side_logo img {
  max-width: 260px; }

/* line 191, stdin */
.flexslider {
  margin: 0px !important;
  border: 0px !important;
  max-height: 360px;
  max-width: 850px;
  background: #282828 !important;
  border-radius: 0 !important;
  box-shadow: none !important; }

/* line 200, stdin */
.flex-control-paging li a {
  background: #717073 !important; }
  /* line 202, stdin */
  .flex-control-paging li a.flex-active {
    background: #fff !important; }

/* line 207, stdin */
.published {
  color: #b3b3b6; }

/* line 210, stdin */
.project_block {
  height: 375px;
  margin-bottom: 20px; }
  /* line 214, stdin */
  .project_block .proj_img img {
    width: 275px;
    /* height: 335px;  */
    height: 265px; 
	}

/* line 221, stdin */
.slideshow {
  padding: 0px;
  list-style: none;
  list-style-type: none; }
  /* line 225, stdin */
  .slideshow .flexslider-container {
    max-width: 850px !important;
    margin: 0 auto; }
  /* line 229, stdin */
  .slideshow li {
    list-style: none;
    list-style-type: none;
    max-width: 850px;
    margin-bottom: 10px; }
    /* line 234, stdin */
    .slideshow li img {
      max-width: 850px; }

/* line 240, stdin */
select[name='order'] option {
  color: #000000 !important; }

/* line 245, stdin */
.main_content {
  min-height: 600px; }

/* line 249, stdin */
.project_grid_title {
  padding-top: 12px;
  color: #d6d6d6;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Whitney SSm A', Arial, Helvetica, sans-serif; }

/* line 258, stdin */
.gallery_item_dark {
  padding: 10px 0; }
  /* line 260, stdin */
  .gallery_item_dark img {
    max-width: 850px;
    width: 100%; }

	
/* 18-04-2016 */
 
.active > a {
  /* color: #fff; */
  color: black;
  font-weight: 600;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* line 268, stdin */
  .sidebar-nav {
    position: relative; }
    /* line 270, stdin */
    .sidebar-nav .nav-list a {
      text-align: center; }
  /* line 274, stdin */
  .post_img img {
    width: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 281, stdin */
  .sidebar-nav {
    position: relative; }
    /* line 283, stdin */
    .sidebar-nav .nav-list a {
      text-align: center; }
  /* line 287, stdin */
  .post_img img {
    width: 100%; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 294, stdin */
  .navbar > .container .navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px; }
  /* line 298, stdin */
  .navbar {
    min-height: 30px; }
  /* line 301, stdin */
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px; }
  /* line 305, stdin */
  .sidebar-nav {
    position: relative; }
    /* line 307, stdin */
    .sidebar-nav .nav-list a {
      text-align: center; }
  /* line 312, stdin */
  .post_img img {
    width: 100%; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 319, stdin */
  .sidebar-nav {
    position: fixed;
    width: 218px; }
    /* line 323, stdin */
    .sidebar-nav .nav-list a {
      text-align: right; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 331, stdin */
  .sidebar-nav {
    position: fixed;
    width: 218px; }
    /* line 334, stdin */
    .sidebar-nav .nav-list a {
      text-align: right; } }

@media (max-width: 991px) {
  /* line 341, stdin */
  .col-sm-5 {
    width: 41.166667%; } }

@media (max-width: 767px) {
  /* line 346, stdin */
  .col-sm-5 {
    width: 100%; } }

/* line 351, stdin */
img {
  max-width: 100%; }

/* line 355, stdin */
#main_image #project-top-image {
  width: 100%; }
  
@media (max-width: 640px) {	

	/* image css 12/10/2018 */
	.project_block {
		width: 31.1%;
	}
	.project_block .proj_img img {
		min-height: 180px;
	}
	.project_grid_title {
		font-size: 0.7em;
    }
}
@media (max-width: 425px) {
	/* image css 12/10/2018 */
	.portfolio-wrap {
		width: 73%;
	}
	.project_block {
		width: 100%;
		margin: 0 0 14px 0;
	}
	.project_block:nth-child(3n) {
		margin-right: 0;
	}
    .project_block:nth-child(2n) {
        margin-right: 0;
    }	
	.project_block .proj_img img {
		min-height: 335px;
	}
	.project_grid_title {
		font-size: 0.8em;
	}
   
}
@media (max-width: 1199px) {
	/* image css 12/10/2018 */
	.project_block {
		margin: 0 14px 14px 0;
		width: 47%;
		height: auto;
	}
	.project_block .proj_img img {
		width: 100%;
		height: auto;
	}   
    .project_block:nth-child(3n) {
		margin-right: 14px;
	}
}
@media (max-width: 768px) {
	/* image css 12/10/2018 */
	.project_block {
		width: 204px;
		height: auto;
	}
	.project_block:nth-child(2n) {
        margin-right: 0;
    }
	.project_block .proj_img img {
		width: 204px;
		height: 100%;
		min-height: 260px;
	}
	.backstretch img {
		background-size: cover;
	}
	.project_grid_title {
		width: 85%;!important;
    }
	    
}
@media (max-width: 767px) {
   
	/* image css 12/10/2018 */
	.portfolio-wrap {
		width: 92%;
		height: auto;
		margin: 0 auto;
	}
	.project_block {
		width: 31.5%;
		height: auto;
	}
	.project_block:nth-child(2n) {
        margin-right: 14px;
    }
    .project_block:nth-child(3n) {
		margin-right: 0;
	}
	.project_block .proj_img img {
		width: 100%;
		height: 100%;
		min-height: 275px;
	}
	
	
}
@media (max-width: 360px) {
	/* image css 12/10/2018 */
	.project_block .proj_img img {
		min-height: 300px;
	}
	body.home ul.nav-list {
		margin-left: 23%;
	}
}
@media (max-width: 568px) {
	/* image css 12/10/2018 */
	.project_block {
		width: 47.9%;
	}
	.project_block:nth-child(3n) {
		margin-right: 14px;
	}
    .project_block:nth-child(2n) {
        margin-right: 0;
    }	
	.project_block .proj_img img {
		min-height: 206px;
	}
	.project_grid_title {
		
    }
}

