/* line 7, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
body {
  background-color: #282828;
  font: 17px/25px 'Whitney SSm A', Arial, Helvetica, sans-serif;
  overflow-x: hidden; }

/* line 13, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
h1, h2, h3, h4, h5 {
  font: 30px/37px 'adobe-caslon-pro', 'Times New Roman', Times, serif; }

/* line 17, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.text_right {
  text-align: right; }

/* line 22, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
tags-input .tags .input, tags-input .tags .tag-item {
  color: #717073; }

/* line 28, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.dark-table td {
  color: #999999; }
  /* line 30, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .dark-table td a {
    color: #999999; }

/* line 36, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.table-striped td a:hover {
  color: #000000; }

/* line 40, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.well, hr {
  background-color: transparent;
  border: none; }

/* line 45, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.project-caption {
  padding-left: 15px; }

/* line 49, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
a {
  color: #b3b3b6;
  text-decoration: none; }

/* line 54, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
a:focus {
  color: #fff;
  text-decoration: none; }

/* line 58, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
a:hover {
  color: #fff;
  text-decoration: none; }

/* line 63, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.home a {
  color: #fff; }

/* line 67, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
#main_image {
  padding-top: 35px; }
  /* line 69, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  #main_image img {
    width: auto;
    max-width: 850px; }

/* line 75, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.order_update {
  color: #000; }

/* line 79, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.projectBody {
  margin-top: 20px; }

/* line 101, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.navbar .container {
  width: 100%; }

/* line 107, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.content {
  background-color: transparent;
  color: #fff;
  margin-bottom: 50px; }

/* line 113, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.sidebar-nav {
  position: fixed;
  max-width: 218px; }

/* line 117, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.nav-list {
  padding: 20px 55px 20px 0;
  width: 100%; }
  /* line 120, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .nav-list a {
    text-align: right;
    padding: 0px 5px !important;
    text-shadow: 1px 1px 0px #000;
    font: 17px/25px 'Whitney SSm A', Arial, Helvetica, sans-serif; }
  /* line 126, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .nav-list li {
    padding: 0;
    margin: 0 0 3px; }
  /* line 130, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .nav-list > li > a:hover, .nav-list .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.690196); }

/* line 136, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.login legend {
  color: #fff; }

/* line 140, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  color: #fff !important; }

/* line 147, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.home footer {
  position: fixed; }

/* line 151, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.blog_index {
  padding-top: 35px; }
  /* line 153, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .blog_index .row {
    padding: 20px 0;
    border-bottom: 1px dotted #717073; }
    /* line 156, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
    .blog_index .row .post_intro {
      padding: 0px; }
    /* line 159, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
    .blog_index .row .post_img {
      padding: 0px; }
  /* line 164, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .blog_index .pages_slideshow {
    padding-top: 35px; }
  /* line 168, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .blog_index h2 {
    font: 27px/33px 'adobe-caslon-pro', 'Times New Roman', Times, serif; }

/* line 173, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.border {
  border-top: 1px dotted #717073;
  margin-right: 55px; }

/* line 184, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.side_logo img {
  max-width: 260px; }

/* line 189, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.flexslider {
  margin: 0px !important;
  border: 0px !important;
  max-height: 360px;
  max-width: 850px;
  background: #282828 !important;
  border-radius: 0 !important;
  box-shadow: none !important; }

/* line 198, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.flex-control-paging li a {
  background: #717073 !important; }
  /* line 200, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .flex-control-paging li a.flex-active {
    background: #fff !important; }

/* line 205, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.published {
  color: #b3b3b6; }

/* line 208, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.project_block {
  height: 375px;
  margin-bottom: 20px; }
  /* line 212, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .project_block .proj_img img {
    width: 275px;
    height: 335px; }

/* line 219, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.slideshow {
  padding: 0px;
  list-style: none;
  list-style-type: none; }
  /* line 223, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .slideshow .flexslider-container {
    max-width: 850px !important;
    margin: 0 auto; }
  /* line 227, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .slideshow li {
    list-style: none;
    list-style-type: none;
    max-width: 850px;
    margin-bottom: 10px; }
    /* line 232, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
    .slideshow li img {
      max-width: 850px; }

/* line 238, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
select[name='order'] option {
  color: #000000 !important; }

/* line 243, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.main_content {
  min-height: 600px; }

/* line 247, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.project_grid_title {
  padding-top: 5px;
  color: #d6d6d6;
  font-size: 18px;
  line-height: 18px;
  font-family: 'Whitney SSm A', Arial, Helvetica, sans-serif; }

/* line 256, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
.gallery_item_dark {
  padding: 10px 0; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* line 262, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .sidebar-nav {
    position: relative; }
    /* line 264, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
    .sidebar-nav .nav-list a {
      text-align: center; }
  /* line 268, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .post_img img {
    width: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 275, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .sidebar-nav {
    position: relative; }
    /* line 277, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
    .sidebar-nav .nav-list a {
      text-align: center; }
  /* line 281, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .post_img img {
    width: 100%; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 288, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .sidebar-nav {
    position: relative; }
    /* line 290, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
    .sidebar-nav .nav-list a {
      text-align: center; }
  /* line 295, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .post_img img {
    width: 100%; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 302, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .sidebar-nav {
    position: fixed;
    width: 218px; }
    /* line 306, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
    .sidebar-nav .nav-list a {
      text-align: right; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 314, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
  .sidebar-nav {
    position: fixed;
    width: 218px; }
    /* line 317, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
    .sidebar-nav .nav-list a {
      text-align: right; } }

/* line 323, /Users/andrewcavanagh/zigbop/cms/app/sass/dark.scss */
img {
  max-width: 100%; }
