body {
    padding-top: 50px;
    background-color: #F7F7F6;
}
.starter-template {
    padding: 40px 15px;
}

.login{padding-top: 65px;}
.center{float: none; margin-left: auto; margin-right: auto;}

li.build {
    padding: 15px 0 0 0;
}

.content {
    background-color: white;
}

.footer {
    background-color: ThreeDDarkShadow;
}

.footer address {
    color: white;
}

.sidebar {
    padding: 10px 5px 10px 5px;
}

.alert {
    margin: 10px;
}


#carousel-678499 .tales {
    width: 100%;
}

#carousel-678499 .carousel-inner{
    width:100%;
    max-height: 150px !important;
}

.blue .btn.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

img.banner-index {
    max-height: 40px;
}

img.banner-show {
    max-width: 400px;
}

img.home-banner {
    max-width: 100%;
}

/** Dragging Menus **/
div.dragging, div.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.top-menu {
    border: 1px solid #999999;
    margin: 0 0 9px 0;
    min-height: 10px;
    list-style-type: none;
    line-height: 18px;
    max-width: 700px;
    padding: 0;
}

ol.top-menu li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
    line-height: 18px;
}

ol.top-menu li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.top-menu li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

#social i {
    font-size: 26px;
}

a.flow {
    cursor: pointer;
}
.aligncenter {
    text-align: center;
}
.modal-content,
.modal-content a{
	color:#333;
}
.modal-content a:hover{
	color:#b3b3b6;
}
/* Styles for CKEditor Frontend */
td {
	padding: 10px;
}
.sidebar-nav {
    position: relative !important;
}
.image-left {
	margin: 0 20px 20px 0;
	float: left;
}
.image-right {
	margin: 0 0 20px 20px;
	float: right;
}
.image-center {
	margin: 20px auto !important;
	text-align: center !important;
	float: none !important;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-justify {
	text-align: justify;
}
.special-container {
	background:#eeeeee;
	border:1px solid #cccccc;
	padding:5px 10px;
	margin: 20px auto;
}
.borderless-table {
	border-style: hidden; 
	background-color: #E6E6FA;
}
.square-bulleted-list {
	list-style-type: square;
}