/* line 1, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
body {
  padding-top: 50px;
  overflow-x: hidden; }

/* line 5, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
.col-xs-7 {
  width: 100%; }

/* line 9, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
#banner-header {
  max-width: 1170px;
  margin: 0 auto; }

/* line 14, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
.padding-lr {
  padding: 0 10px; }

/* line 18, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
#logo img {
  max-width: 100%; }

@media (max-width: 991px) {
  /* line 23, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
  .clearfix-sm:before, .clearfix-sm:after {
    display: table;
    content: " "; } }

@media (min-width: 768px) {
  /* line 30, /Users/andrewcavanagh/zigbop/cms/app/sass/originalTheme.scss */
  .col-md-9 {
    width: 75%; } }
