<ng-include src="admin_menu_links.url"></ng-include>

    <ng-include src="'/assets/js/cms/app/partials/shared/top_banner.html'"></ng-include>

    <div class="row clearfix content">
        <div class="col-md-4 column sidebar">
            <ng-include src="main_links.url"></ng-include>
        </div>
        <div class="col-md-8 column content">
            <div class="row clearfix">
                <span ng-include="alerts_partial.url"></span>
            </div>
            <h1>Dashboard</h1>
            <p>Use the links above to manage that site.</p>
        </div>
    </div>


<ng-include src="'/assets/js/cms/app/partials/shared/footer.html'"></ng-include>
