$grey_dark: #717073;
$grey_light: #b3b3b6;
$white: #fff;
$dark_alpha: rgba(0, 0, 0, 0.690196);


body {
  background-color: #282828;
  font: 17px/25px 'Whitney SSm A', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  font: 30px/37px 'adobe-caslon-pro', 'Times New Roman', Times, serif;
}

.text_right {
  text-align: right;
}

tags-input .tags {
  .input, .tag-item {
    color: $grey_dark;
  }
}

.well, hr {
  background-color: transparent;
  border: none;
}

a {
  color: $grey_light;
  text-decoration: none;

}
a:focus {
  color: $white;
  text-decoration: none;
}
a:hover {
  color: $white;
  text-decoration: none;
}

.home a {
  color: $white;
}

//header {
//  background-color: rgba(0, 0, 0, 0.690196);
//  padding: 10px;
//  width: 250px;
//  position: relative;
//
//}
//header:after {
//  position: absolute;
//  right: 100%;
//  top: 0;
//  content: '';
//  height: 73px;
//  width: 2000px;
//  background-color: rgba(0, 0, 0, 0.690196);
//}

.navbar {
  .container {
    width: 100%;
  }
}


.content {
  background-color: transparent;
  color: $white;
  margin-bottom: 50px;
}

.sidebar-nav {
  position: fixed;
}
.nav-list {
  padding: 20px 55px 20px 0;
  width: 100%;
  a {
    text-align: right;
    padding: 0px 5px!important;
    text-shadow: 1px 1px 0px #000;
    font: 17px/25px 'Whitney SSm A', Arial, Helvetica, sans-serif;
  }
  li {
    padding: 0;
    margin: 0 0 3px;
  }
  > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: $dark_alpha;
  }
}

footer {
  width: 100%;;
  position:relative;
  bottom:0;
  text-align:center;
  color: #fff;
}
.home footer {
  position: fixed;
}

.blog_index {
  .row {
    padding: 20px 0;
    border-bottom: 1px dotted $grey_dark;
    .post_intro {
      padding: 0px;
    }
    .post_img {
      padding: 0px;
    }
  }

  h2 {
    font: 27px/33px 'adobe-caslon-pro', 'Times New Roman', Times, serif;
  }
}

.border {
  border-top: 1px dotted $grey_dark;
  margin-right: 55px;
}
.tags_nav {

  li {

  }
}

.flex-control-paging li a {
  background: $grey_dark!important;
  &.flex-active {
    background: $white!important;
  }
}


.project_block {
  min-height: 335px;
}

.slideshow {
    padding: 0px;
    list-style: none;
    list-style-type: none;
  .flexslider-container {
    max-width: 850px!important;
    margin: 0 auto;
  }
  li {
    list-style: none;
    list-style-type: none;
    max-width: 850px;
    margin-bottom: 10px;
      img {
        max-width: 850px;
      }
  }
}
