<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-if="loggedIn">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Admin:</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-if="current_user.data.admin"><a ng-href="/admin/users">Admin Users</a></li>
                <li><a ng-href="/admin/users">Admin Pages</a></li>
                <li><a ng-href="/admin/banners">Admin Banners</a></li>
                <li><a ng-href="/admin/users/{{current_user.data.id}}/edit">Your Profile</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" ><i class="glyphicon glyphicon-log-out"></i></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

